:root {
  --yellow: #f7d07c;
  --brown: #a15648;
  --red: #e95532;
  --pink: #ff836a;
}

#events {
	width: 50%;
}

#first_row {
	background-color: var(--brown);
	color: var(--yellow);
}

td {
	padding: 20px;
}

img {
	border: 5px dotted var(--pink);
}