@font-face {
	font-family: 'PokemonGB';
	src: url('src/PokemonGB.eot');
	src: local('PokemonGB'), url('src/PokemonGB.woff') format('woff'), url('src/PokemonGB.ttf') format('truetype');
}

table.center {
	margin-left: auto;
    margin-right: auto;
}


/* start navbar */
#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a15648;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 30px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #ff836a;
}

.active {
    background-color: #f7d07c;
}
/* end navbar */


.source {
	font-size: 50%;
	text-align:center;
}

body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/74/54/5a/74545abe3f922993f1575535921e2030.jpg");
	text-align: center;
	font-family: 'PokemonGB';
	color: #a15648;
	background-color: LemonChiffon;
}

p, ul, blockquote {
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}

a {
	color: #a15648;
}

#header {
	border: 10px outset #ff836a;
}

h1 {
	padding: 30px;
	background-color:  #e95532;
	color: #f7d07c;
	margin-bottom: 0px;
	margin-top: 0px;
}

h2{
	margin-left: auto;
	margin-right: auto;
	padding-top:0.5%;
	padding-bottom:0.5%;
	width: 70%;
	border: 5px solid #ff836a;
}

hr {
    border: none;
    height: 10px;
    background-color: #ff836a;
}

#footer {
	background-color: #ff836a;
	padding: 50px;
}

img {
	max-height: 1000px;
	margin-top: 10px;
}